<%- include('partials/header.ejs') %>
<body>
   <!-- 
    - #HEADER
  -->

  <%- include('partials/navbar.ejs') %>

  <main>
    <article class="container">

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">

          <!-- <picture class="home-img">
            <!-- <source srcset="https://images.unsplash.com/photo-1724320470749-af3d7290936a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D" media="(min-width: 768px)">
            <source srcset="https://images.unsplash.com/photo-1724320470749-af3d7290936a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D" media="(min-width: 500px)"> -->
            <img src="./images/hero-banner.png"
              class="w-100">
          </picture> -->

        </figure>


        <div class="hero-content">

          <h2 class="h2 hero-title" id="element"></h2>

          <a href="contact" class="btn btn-primary id="element""> Touch</a>

        </div>

        <ul class="hero-social-list">

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-facebook"></ion-icon>

              <div class="tooltip">Facebook</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-github"></ion-icon>

              <div class="tooltip">Github</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <div class="tooltip" >Linkedin</div>
            </a>
          </li>

        </ul>

        <a href="#stats" class="scroll-down">Scroll</a>

      </section>

<!-- 
        - #STATS
      -->

      <section class="stats" id="stats">
        <ul class="stats-list">

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="/images/stats-card_icon-1.png" alt="Badge icon">
              </div>

              <h2 class="h2 card-title">
                1.5+ <strong>Years of Experience</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="./images/stats-card_icon-2.png" alt="Checkmark icon">
              </div>

              <h2 class="h2 card-title">
                10+ <strong>Completed Projects</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="./images/stats-card_icon-3.png" alt="Peoples rating icon">
              </div>

              <h2 class="h2 card-title">
                5+ <strong>Happy Clients</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

        </ul>
      </section>





<%- include('partials/script.ejs') %>

</body>
</html>